<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="2641d747-531a-43d9-a888-a8376508b03b"
            Publisher="CN=Brannon"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>BlogReader</DisplayName>
    <PublisherDisplayName>Brannon</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>BlogReader</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="BlogReader.App">
        <VisualElements
            DisplayName="BlogReader"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="BlogReader"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>